
html {
  height: 100%;
}
body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: #101010;

}
#terminal {
  display:block;
  position: fixed;
  bottom: 5%;
  width: 100%;
}

#connection-panel {
  background: transparent;
}

.displayButton {
    display: flex;
    align-items: center;
    background: #b6ff00;
}


.button__etltype,
.button__value {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;

}