
html {
  height: 100%;
}
body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: rgb(4 4 4 / 1); 
  //#2c3e50; // Midnight //#34495e; // wet asphalt

}
#terminal {
  display:block;
  position: fixed;
  width: 100%;
  bottom: 0%;
  font-size: xx-small;
}

#connection-panel {
  background: transparent;
}

#presentation-panel .displayButton {
    display: none; // have the green display buttons default to hidden
}

.displayButton {
    display: flex;
    align-items: center;
    background: #27ae60; // Nephritis dark green
}

.button__etltype,
.button__value {
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
}